<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HackerNews Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </head>
  <body>
    <nav class="navbar is-dark">
      <div class="container">
        <div class="navbar-menu">
          <div class="navbar-start">
            <a href="/" class="navbar-item">HackerNews</a>
          </div>
          <div class="navbar-end">
            <a href="/profile" class="navbar-item">Profile</a>
            <a href="/admin" class="navbar-item">Admin</a>
            <a href="/about" class="navbar-item is-active">About</a>
            {% if session %}
            <a href="/logout" class="navbar-item">Logout</a>
            {% else %}
            <a href="/login" class="navbar-item">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <section class="section has-background-success">
      <div class="columns is-centered">
        <div class="column is-two-thirds">
          <div class="box">
            <div class="content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nesciunt modi error maiores odit dolores dicta excepturi! Labore, veritatis libero. Consequuntur facilis est, obcaecati voluptatum aspernatur necessitatibus iure cum. Quod?</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="hero is-success is-fullheight-with-navbar">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-narrow">
              <div class="box has-background-dark">
                <div class="has-text-centered mb-4">
                  <a href="#" class="image is-96x96 m-auto">
                    <img src="/static/profile_images/20221001_115048.jpg" alt="profile image" class="is-rounded">
                  </a>
                </div>
                <div class="has-text-centered">
                  <p class="is-size-4 has-text-white">
                      Elijah Barrios
                  </p>
                  <p class="is-size-6 has-text-white-ter py-4 has-text-weight-light">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  </p>
                </div>
                <div class="buttons is-centered pt-4">
                  <button class="button">
                    <a href="https://github.com/elijahbarrios" target="_blank" rel="noopener noreferrer" class="icon">
                      <ion-icon name="logo-github"></ion-icon>
                    </a>
                    <span>GitHub</span>
                  </button>
                  <button class="button">
                    <a href="https://www.linkedin.com/in/elijah-barrios-910297222/" target="_blank" rel="noopener noreferrer">
                      <ion-icon name="logo-linkedin"></ion-icon>
                      <span>LinkedIn</span>
                    </a>
                  </button>
                </div>
              </div>
            </div>
            <div class="column is-narrow">
              <div class="box has-background-dark">
                <div class="has-text-centered mb-4">
                  <a href="#" class="image is-96x96 m-auto">
                    <img src="" alt="profile image" class="is-rounded">
                  </a>
                </div>
                <div class="has-text-centered">
                  <p class="is-size-4 has-text-white">
                      Noah Romo
                  </p>
                  <p class="is-size-6 has-text-white-ter py-4 has-text-weight-light">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  </p>
                </div>
                <div class="buttons is-centered pt-4">
                  <button class="button">
                    <a href="https://github.com/noahromo" target="_blank" rel="noopener noreferrer" class="icon">
                      <ion-icon name="logo-github"></ion-icon>
                    </a>
                    <span>GitHub</span>
                  </button>
                  <button class="button">
                    <a href="https://www.linkedin.com/in/noah-romo/" target="_blank" rel="noopener noreferrer">
                      <ion-icon name="logo-linkedin"></ion-icon>
                      <span>LinkedIn</span>
                    </a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>