<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HackerNews Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </head>
  <body>
    <nav class="navbar is-dark">
      <div class="container">
        <div class="navbar-menu">
          <div class="navbar-start">
            <a href="/" class="navbar-item">HackerNews</a>
          </div>
          <div class="navbar-end">
            <a href="/profile" class="navbar-item">Profile</a>
            <a href="/admin" class="navbar-item is-active">Admin</a>
            <a href="/about" class="navbar-item">About</a>
          {% if session %}
            <a href="/logout" class="navbar-item">Logout</a>
          </div>
          {% else %}
            <a href="/login" class="navbar-item">Login</a>
          {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <section class="hero is-success is-fullheight-with-navbar">
      <div class="hero-body">
        {% if session %}
          {% if session.userinfo.email in permitted %}
            <div class="container">
              <div class="columns is-centered">
                <div class="column is-narrow">
                  <form action="/admin" method="POST">
                    <div class="field has-addons">
                      <div class="control is-expanded">
                        <div class="select is-fullwidth">
                          <select name="userDropdown">
                              <option>Select a user</option>
                            {% for user in users %}
                              <option>{{user['email']}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="control">
                        <button type="submit" value="submit" class="button">Choose</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="container">
              <table class="table">
                <tbody>
                  <thead>
                    <th></th>
                    <th>Article</th>
                    <th>Time Posted</th>
                  </thead>
                  {% for liked in likes %}
                    <tr id="{{liked['articleID']}}">
                      <td>
                        <span class="icon has-text-success">
                          <ion-icon name="thumbs-up-sharp"></ion-icon>
                        </span>
                      </td>
                      <td>
                        <a href="{{retrieveInfo(liked['articleID'])['content']}}" target="_blank" rel="noopener noreferrer">{{retrieveInfo(liked['articleID'])['title']}}</a>
                      </td>
                      <td>{{timeFormat(retrieveInfo(liked['articleID'])['created'])}}</td>
                      <td>
                        <button class="delete" onclick="deletePost({{liked['articleID']}}, '{{email}}')"></button>
                      </td>
                    </tr>
                  {% endfor %}
                  {% for disliked in dislikes %}
                    <tr id="{{disliked['articleID']}}">
                      <td>
                        <span class="icon has-text-danger">
                          <ion-icon name="thumbs-down-sharp"></ion-icon>
                        </span>
                      </td>
                      <td>
                        <a href="{{retrieveInfo(disliked['articleID'])['content']}}" target="_blank" rel="noopener noreferrer">{{retrieveInfo(disliked['articleID'])['title']}}</a>
                      </td>
                      <td>{{timeFormat(retrieveInfo(disliked['articleID'])['created'])}}</td>
                      <td>
                        <button class="delete" onclick="deletePost({{disliked['articleID']}}, '{{email}}')"></button>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
            <div class="container">
              <div class="columns is-centered">
                <div class="column is-narrow">
                  <article class="message is-danger">
                    <div class="message-header">
                      <p>Access denied</p>
                    </div>
                    <div class="message-body">
                      You do not have permission to view the admin page.
                    </div>
                  </article>
                </div>
              </div>
            </div>
          {% endif %}
        {% else %}
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-narrow">
                <article class="message is-danger">
                  <div class="message-header">
                    <p>Access denied</p>
                  </div>
                  <div class="message-body">
                    You do not have permission to view the admin page.
                  </div>
                </article>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </section>
    <script type="text/javascript" src="{{ url_for('static', filename='admin.js') }}"></script>
  </body>
</html>