<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HackerNews</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </head>
  <body>
    <nav class="navbar is-dark">
      <div class="container">
        <div class="navbar-menu">
          <div class="navbar-start">
            <a href="/" class="navbar-item">HackerNews</a>
          </div>
          <div class="navbar-end">
            <a href="/profile" class="navbar-item">Profile</a>
            <a href="/admin" class="navbar-item">Admin</a>
            <a href="/about" class="navbar-item">About</a>
            {% if session %}
              <a href="/logout" class="navbar-item">Logout</a>
              </div>
            {% else %}
              <a href="/login" class="navbar-item">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <section class="section has-background-success">
      <div class="columns is-centered">
        <div class="column is-narrow">
          <div class="notification is-dark has-text-centered">
            {% if session %}
            <p class="title has-text-light">
              Welcome {{session.userinfo.name}}!
            </p>
            {% else %}
              <p class="title has-text-light">
                Welcome, Guest
              </p>
              <p class="subtitle has-text-light">
                Login to begin viewing news items.
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
    <section class="hero is-success is-fullheight-with-navbar">
      {% if session %}
      <div class="hero-body">
        <div class="container is-fluid">
          {% for story in stories %}
            <div class="box m-2 has-background-dark">
              <div class="media">
                <div class="media-item align-left m-3">
                  <div class="field is-grouped is-center">
                    <p class="control">
                      {% if story.id in likes %}
                        <button class="button is-medium is-success" id="like-button-{{story['id']}}" onclick="like({{story['id']}})">
                          <span class="icon">
                            <ion-icon name="thumbs-up-sharp"></ion-icon>
                          </span>
                        </button>
                      {% else %}
                        <button class="button is-medium" id="like-button-{{story['id']}}" onclick="like({{story['id']}})">
                          <span class="icon">
                            <ion-icon name="thumbs-up-sharp"></ion-icon>
                          </span>
                        </button>
                      {% endif %}
                      {% if story.id in dislikes %}
                        <button class="button is-medium is-danger" id="dislike-button-{{story['id']}}" onclick="dislike({{story['id']}})">
                          <span class="icon">
                            <ion-icon name="thumbs-down-sharp"></ion-icon>
                          </span>
                        </button>
                      {% else %}
                        <button class="button is-medium" id="dislike-button-{{story['id']}}" onclick="dislike({{story['id']}})">
                          <span class="icon">
                            <ion-icon name="thumbs-down-sharp"></ion-icon>
                          </span>
                        </button>
                      {% endif %}
                    </p>
                  </div>
                </div>
                <div class="media-item align-center">
                  <div class="level">
                    <div class="level-left">
                      <div class="level-item">
                        <div class="columns is-vcentered">
                          <div class="column">
                            <div class="content mt-3">
                              <h4>
                                <a class="has-text-light" href="{{ story['content'] }}" target="_blank" rel="noopener noreferrer">{{ story['title'] }}</a>
                              </h4>
                            </div>
                          </div>
                          <div class="column is-narrow">
                            <div class="tag">
                                {{urlTag(story['content'])}}
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="level has-text-light">
                    <p>{{timeFormat(story['created'])}}</p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </section>
    <script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
  </body>
</html>