<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HackerNews Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
  </head>
  <body>
    <nav class="navbar is-dark">
      <div class="container">
        <div class="navbar-menu">
          <div class="navbar-start">
            <a href="/" class="navbar-item">HackerNews</a>
          </div>
          <div class="navbar-end">
            <a href="/profile" class="navbar-item is-active">Profile</a>
            <a href="/admin" class="navbar-item">Admin</a>
            <a href="/about" class="navbar-item">About</a>
            {% if session %}
              <a href="/logout" class="navbar-item">Logout</a>
              </div>
            {% else %}
              <a href="/login" class="navbar-item">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    {% if session %}
      <section class="section has-background-success">
        <div class="container">
          <div class="columns is-centered">
            <div class="notification is-dark has-text-centered">
              <p class="title has-text-light">
                {{session.userinfo.name}}
              </p>
              <p class="subtitle has-text-light">
                {{session.userinfo.email}}
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="hero is-success is-fullheight-with-navbar">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-centered">
              <div class="column">
                <div class="box has-background-dark">
                  <div class="notification is-dark has-text-centered">
                    <p class="title has-text-light">
                      Your Liked Articles
                    </p>
                  </div>
                </div>
                <div class="container">
                  {% for like in likes %}
                    <div class="box m-2 has-background-dark">
                      <div class="media">
                        <div class="media-item align-center">
                          <div class="level">
                            <div class="level-left">
                              <div class="level-item">
                                <div class="columns is-vcentered">
                                  <div class="column">
                                    <div class="content mt-3">
                                      <h4>
                                        <a href="{{like['content']}}" class="has-text-light" target="_blank" rel="noopener noreferrer">{{ like['title'] }}</a>
                                      </h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="column is-narrow">
                            <div class="tag">
                              {{urlTag(like['content'])}}
                            </div>
                          </div>
                          <div class="level has-text-light">
                            <p>{{timeFormat(like['created'])}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="column">
                <div class="box has-background-dark">
                  <div class="notification is-dark has-text-centered">
                    <p class="title has-text-light">
                      Your Disliked Articles
                    </p>
                  </div>
                </div>
                <div class="container">
                  {% for dislike in dislikes %}
                    <div class="box m-2 has-background-dark">
                      <div class="media">
                        <div class="media-item align-center">
                          <div class="level">
                            <div class="level-left">
                              <div class="level-item">
                                <div class="columns is-vcentered">
                                  <div class="column">
                                    <div class="content mt-3">
                                      <h4>
                                        <a href="{{dislike['content']}}" class="has-text-light" target="_blank" rel="noopener noreferrer">{{ dislike['title'] }}</a>
                                      </h4>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="column is-narrow">
                            <div class="tag">
                              {{urlTag(dislike['content'])}}
                            </div>
                          </div>
                          <div class="level has-text-light">
                            <p>{{timeFormat(dislike['created'])}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% else %}
      <section class="hero is-success is-fullheight-with-navbar">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-centered">
              <div class="column is-narrow">
                <article class="message is-danger">
                  <div class="message-header">
                    <p>Not logged in</p>
                  </div>
                  <div class="message-body">
                    Log in to an account to view profile information.
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endif %}
  </body>
</html>